@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url("/home/home.css");
@import url("/contact/contact.css");
@import url("/menu/menu.css");
@import url("/dishes/dishes.css");



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}


.about-header{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: xx-large;
    text-decoration: underline;
    padding: 10% 0 6% 0;
    
}

.about-main p{
    padding-bottom: 5%;
    font-family: 'Raleway';
    line-height: 2rem;
    font-size: large;
}

.about-main {
    padding-bottom: 35%;
}

.about-main img{
    width: 95.7%;
    padding-bottom: 10%;
}

@media screen and (min-width: 800px){
    .about-header{
        font-family: 'Montserrat';
        font-weight: bolder;
        font-size: xx-large;
        text-decoration: underline;
        padding: 5% 0;
        
    }
    
    .about-main p{
        padding-bottom: 5%;
        padding-left: 15%;
        padding-right: 15%;
        font-family: 'Raleway';
        line-height: 2.8rem;
    }
    
    .about-main {
        padding-bottom: 10%;
    }

    .about-main img{
        width: 70%;
        padding-bottom: 5%;
    }
    
}

